* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

h2, #ps {
  text-align: center;
  margin-top: 30px;
}

#ps {
  font-size: .6rem;
}

.d-none {
  display: none;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider {
  width: 80%;
  position: relative;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
}

.container-slider-top {
  width: 100%;
  position: relative;
}

.container-slider-top .description {
  position: absolute;
  top: -50px;
  right: 40px;
  text-align: right;
  background-color: rgba(0, 0, 0, .3);
  padding: 30px;
  color: white;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
}

.img-slider-top:hover .description {
  top: 10px;
  opacity: 1;
}

.description h2 {
  padding-bottom: 30px;
  font-size: 3rem;
}
.img-slider-top img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.container-slider-bottom {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.img-slider-bottom {
  width: calc(100% / 5);
  filter: brightness(.4);
}

.img-slider-bottom img {
  width: 100%;
  height: 120px;
  display: block;
  object-fit: cover;

}

.button .btn {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .8;
  color: white;
  z-index: 10;
}

.btn.right{
  right: 10px;
}

.btn.left {
  left: 10px;
}

.img-slider-bottom.active {
  filter: brightness(1);
}

.btn-start-stop {
  background-color: black;
  color: white;
 padding: 10px 0;
  width: 100px;
  margin-top: 50px;
  margin-left: 20px;
}