<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="css/style.css">
  <title>Vue Slider</title>
</head>
<body>
  
  <div class="container" id="app">
   <div class="slider" @mouseenter="stopAutoScroll()" @mouseleave="autoScroll()">
     <div class="container-slider-top">

      <div class="img-slider-top">
        <img :src="'img/' + postiDaVisitare[counterImg].urlImg" :alt="postiDaVisitare[counterImg].nome"> 
      
        <div class="description">
          <h2> {{postiDaVisitare[counterImg].nome}}  </h2>
          <p>  {{postiDaVisitare[counterImg].descrizione}} </p>
        </div>
      </div> 

     </div>
     <div class="container-slider-bottom">

      <div v-for="(citta, index) in postiDaVisitare" class="img-slider-bottom" :class="{'active': index == counterImg }" @click='counterImg = index'>
        <img  :src="'img/' + citta.urlImg"
        alt="citta.nome">
      </div>

    </div>
    <div class="button">
      <button class="btn right" @click="nextPrev(true)">
        <i class="fa-solid fa-circle-chevron-right"></i>
      </button>
      <buttcon class="btn left" @click="nextPrev(false)">
        <i class="fa-solid fa-circle-chevron-left"></i>
      </button>
    </div>
   </div>

   
   <button class="btn-start-stop" @click="stopAutoScroll(), checkIsStopped()" v-if="isStop">
      STOP
   </button>
   <button class="btn-start-stop" @click="autoScroll(), checkIsStopped()" v-if="!isStop">
      START
   </button>

  </div>
  <script src="js/script.js"></script>
</body>
</html>